:root {
  --color-one: #1c0021;
  --color-two: #101652;
  --color-three: #add6bc;
  --color-four: #ed4c87;
  --color-five: #f5b9ae;
  --color-six: #ffe8ef;
  --color-seven: grey;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-five);
}

.body {
  background-color: var(--color-six);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 700px;
  color: var(--color-two);
  padding: 30px;
}
